/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);
@define-color bg_image rgba(25, 25, 25, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(88, 77, 82, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    min-height: 0;
    opacity: 1;
}

window#waybar {
    background-color: transparent;
    color: black;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    background: #1f1f1f;
    color: black;
    border-radius: 20px;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid black;
}

#workspaces button.focused {
    background: #1f1f1f;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-search,
#custom-power,
#custom-browse,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: rgb(200, 200, 200);
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#battery {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    /* padding-left: 5px; */
    padding-right: 15px;
}

#battery.charging, #battery.plugged {
    background-color: #0f5c2f;
    color: rgb(200, 200, 200);
}

@keyframes blink {
    to {
        background-color: black;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: #9a2121;
    color: rgb(200, 200, 200);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#memory {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#disk {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 20px 0px 0px 20px;
}

#network.disconnected {
    background-color: @bg_image;
    color: red;
}

#pulseaudio {
	font-family: "JetBrainsMono Nerd Font";
    background-color: @bg_image;
	padding-left: 3px;
    padding-right: 3px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio:hover {
 	background: @bg_hover;
}

#pulseaudio.muted {
    background-color: @bg_image;
    background-image: linear-gradient(62deg, rgba(75, 75, 75, 0.1) 0%, rgba(124, 95, 152, 0.3) 100%);
    color: red;
}

#custom-media {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

#custom-media.custom-spotify {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 20px;
    margin-right: 5px;

}

#custom-media.custom-vlc {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 20px;
    margin-right: 5px;
}

#custom-power{
    background-color: @bg_main;
    background-image: linear-gradient(62deg, rgba(75, 75, 75, 0.1) 0%, rgba(124, 95, 152, 0.3) 100%);
    font-size: 25px;
    border-radius: 20px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 16px;
}

#custom-power:hover {
    border-bottom: 3px solid white;
    background:  @bg_hover;
    color: @content_main;
}

#custom-search{
    background-color: @bg_main;
    background-image: linear-gradient(62deg, rgba(75, 75, 75, 0.1) 0%, rgba(124, 95, 152, 0.3) 100%);
    font-size: 25px;
    border-radius: 20px;
    margin-right: 2px;
}

#custom-search:hover {
    border-bottom: 3px solid white;
    background:  @bg_hover;
    color: @content_main;
}

#custom-browse{
    background-color: @bg_main;
    background-image: linear-gradient(62deg, rgba(75, 75, 75, 0.1) 0%, rgba(124, 95, 152, 0.3) 100%);
    font-size: 25px;
    border-radius: 20px;
    margin-right: 2px;
}

#custom-browse:hover {
	border-bottom: 3px solid white;
    background: @bg_hover;
	color: @content_main;
}

#taskbar button {
    background-color: @bg_main;
    background-image: linear-gradient(62deg, rgba(75, 75, 75, 0.1) 0%, rgba(224, 115, 252, 0.3) 100%);
    /* min-width: 30px; */
    border-radius: 20px;
    border-bottom: 3px solid rgba(148, 215, 234, 0.3);
	margin-left: 2px;
	margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
    background: @bg_active;
    border-radius: 10px;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
    background: @bg_hover;
    border-radius: 10px;
	color: @content_main;
}

#temperature {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    border-radius: 0px 20px 20px 0px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bg_image;
    color: rgb(200, 200, 200);
}

#idle_inhibitor {
    background-color: @bg_image;
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: @bg_image;
    color: black;
    border-radius: 20px 0px 0px 20px;

}

#language {
    background-color: @bg_image;
    color: rgb(200, 200, 200);
    min-width: 45px;
}

#keyboard-state {
    background: #97e1ad;
    color: rgb(200, 200, 200);
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
